*{
    margin: 0;
    padding: 0;
}
body {
    background:  #fff;
    background-size: 200% 200%;
    animation: gradient-animation 10s ease infinite;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    font-family: Roboto,sans-serif;
  }
h2{
    color: #292d2e;
    border-bottom: 1px solid black;
    margin-bottom: 5px;

}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
.navbar{
     /*flex kutu yapısını oluşturmamızı sağlar*/ 
    display: flex;
    /*başlardan sondan belirli bir mesafe verir bize */ 
    justify-content: space-around;
     /*eğer ekranı büyütüp küçültürsek bile bize responsive bir şekilde elementleri hızalar kayma görünmeme gibi sorunları çözer */ 
    flex-wrap: wrap;
     /*kutularımızı ekranın ortalanmasında kullanılır */ 
    align-items: center;
     /*elemanlarımızın dizilişini ayarlar row da satır dizilimi column da ise dikey şekilde hizalar */ 
    flex-direction: row;
    width: 100%;
    height: 10%;
    background-color: rgb(93, 157, 157);
    opacity: 0.8;
}
.nav-links li{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    
}

.logo a img{
    width: 140px;
    height: 60px;
}

.nav-links li a{
    text-decoration: none;
    font-size: 1.2rem;
    color:black;
}
.nav-links li a:hover{
    color: #4f8edc;
    font-size: large;
}

#open-window{
    display: none;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px;
    margin: 10px 10px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
    width: 420px;
    border-spacing: 10px;

    
}
form{
    margin-bottom: 30px;
}

#open-window input, #open-window textarea, #open-window select {
    text-align: center   ;
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd; ;
    
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) ;
}
.open-window-div{
    margin-top: 10px;
}
.vehicle-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4px;
    margin-bottom: 8px;
}
.vehicle-info input{
    border: none !important;
    box-shadow: none !important;
    border-bottom: 4px;
}

.container-table{
    width: 80%;
    margin: 10px;
   
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.2) ;
    float: right;
}
tr:nth-child(even){
    background-color: #039;

}
#search-result{
    background: #e6fbd3;
}

#search-result thead td{
    font-size: 12px;
    height: 30px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background: #e9e9e9;
    text-align: center;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0 4px;
}

tbody tr:nth-child(even){
   line-height: 13px;
   background-color: #fff;

}
tbody tr:nth-child(odd){
    line-height: 13px;
    background-color: rgba(139, 139, 139, 0.6);
}
#search-result tbody td img{
    width: 120px;
    height: 93px;
    background: #fff;
}
#search-result-product-description{
    text-align: left !important;
}
#search-result-product-categories{
    font-weight: bold;
    font-size: 12px;
}
#search-result tbody td{
    text-align: center;
    border-left: 1px solid #fff;
    padding: 3px 3px 0 3px;
}


#search-result-form{
    margin-top: 20px;
    margin-left: 4px;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    
}
#search-result-filter{
    margin: 10px 30px;
    background: #fff;
    width: 178px;
    padding: 10px;
    margin-top: 10px;
   
}

#search-result-filter label{
    font-size: 14px;
    font-weight: bold;
}
#search-result-filter li {
    list-style: none;
}
.search-result-filter-container{
    display: flex;
    flex-direction: column;
    padding: 10px ;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    
    
}
.filter-content-elements{
    display: flex;
    justify-content: space-between;
    color: #039;
    font-size: 13px;
    line-height: 17px;
    text-align: left;
    margin-bottom: 10px;
}
#dropdown-for-town{
    margin-top: 5px;
}

#town-select-dropdown {
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    
}


footer{
    background: rgba(139, 139, 139, 0.2);
    height: auto;
    position: relative;

}

#footer-area-container  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    height: 30vh;
    border-bottom: rgba(139, 139, 139, 0.6);
}


.footer-main-titles{
    font-size: 20px;
    border-bottom: 2px solid;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    letter-spacing: 0.1em;
}

#footer-area-container li{
    line-height: 25px;
   
}
#footer-area-container li a {
    color: #555;
} 

#footer-area-container li:hover{
    text-decoration: underline;
}
#copyright{  
    width: 100%;
    margin-bottom: 3px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0    ;
}
#copyright p {
    padding: 10px;
    text-align: center;
    font-size: larger;
    letter-spacing: 0.1em;
}


  /* Geçiş animasyonu için */
  @keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }